.wh_card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.wh_card_top {
    margin-bottom: 100px;
}
.wh_card_img {
    margin-right: 63px;
}
.wh_card_description {
    font-size: 18px;
    line-height: 30px;
    font-family: "Inconsolata";
    color: white;
}
@media screen and (max-width: 991px) {
    .wh_card {
        flex-direction: column;
        text-align: center;
    }
    .wh_card_img {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .h2 {
        text-align: center;
    }
}